<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YOUTUBE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>              

        <!-- start side menu -->

        <%- include('./includes/sidemenu.ejs') %>

        <!-- end side menu -->

        <!-- start side nav -->

        <%- include('./includes/sidenav.ejs') %>

        <!-- end side nav -->
        <!-- start tag arrows -->
        <%- include('./includes/arrows.ejs') %>
        
        <!-- end tag arrows -->
        <!-- start modal -->
        <%- include('./includes/modal.ejs') %>
            
        <!-- end modal -->

        <!-- start navbar -->
        <%- include('./includes/navbar.ejs') %>


        <!-- end navbar -->

        <!-- start setting pop_up -->
        <%- include('./includes/settingpopup.ejs') %>


        <!-- end setting pop_up -->

        


        <!-- start main container -->

        <div id="main_container">
            <div id="corousel_container">
                <div id="corousel">
                    <div class="first_tag">djjdk</div>
                    <p>djjdk</p>
                    <p>djjdkfsssssgh</p>
                    <p>djjdk</p>
                    <p>djjduuilkhjjk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                    <p>djjdk</p>
                </div>
                
            </div>

            <!-- start home page video  containner-->
            <div id="home_page_video_container">
                <div id="empty"></div>
                 <!-- start home page video -->
                <% for (let video of videos) { %>
                <div class="video_content">
                    <img src="<%= video.thumbnail %>" alt="" id="thumbnail">
                    <p class="video_length"><%= video.duration %></p>
                    <div id="video_content_text">
                        <div id="channel_photo">
                            <img src="<%= video.thumbnail %>" alt="">
                        </div>
                        <div id="video_title" > <form action="/watch/<%=video._id%>" method="get"> <button type="submit" class="title_btn"><%= video.title %></button> </form> </div>
                        <div id="whitespace"></div>
                        <div id="channel_info">
                            <p id="channel_name"><%= video.channel.name %><img src="/img/checked-symbol.png" alt="" class="verified_icon" <% if(!verified) { %> style="display: none;" <% }%></p>
                            <p class="channel_stat"><span id="views"><%= video.views %> views </span ><span id="dot" >.</span> <span id="upload_date"><%= video.uploadDate %></span></p>
                        </div>
                    </div>
                </div>
                <% } %>
                <!-- end home page video -->

            </div>
            <!-- end home page video  containner-->

           
            
        </div>
        
        <!-- end main container -->
        
        <script src="/js/main.js" async defer></script>
        <script src="/js/search.js" async defer></script>
    </body>
</html>