<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/library.css">
</head>
<body>
      <!-- start side menu -->

      <%- include('./includes/sidemenu.ejs') %>

      <!-- end side menu -->

      <!-- start side nav -->

      <%- include('./includes/sidenav.ejs') %>

      <!-- end side nav -->
      
      <!-- start modal -->
      <%- include('./includes/modal.ejs') %>
          
      <!-- end modal -->

      <!-- start navbar -->
      <%- include('./includes/navbar.ejs') %>


      <!-- end navbar -->

      <!-- start setting pop_up -->
      <%- include('./includes/settingpopup.ejs') %>


      <!-- end setting pop_up -->

      

    <div class="subscription_main_container">
        <div class="subscription_content">
            <div class="history">
                <div class="history_menu">
                    <img src="/img/time.png" alt="" class="history_icon">
                    <p class="history_text">history</p>
                    <p class="see">see all</p>
                </div>
                <div class="history_videos">
                    <% for (let video of WatchedVideos) { %>
                    <div class="subscription_video">
                        <img src="<%= video.thumbnail %>" alt="" class="subscription_video_thumbnail">
                        <div class="subscription_video_duration"><%= video.duration %></div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title"><%= video.title %></div>
                            <p class="subscription_video_channel"><%= video.channelTitle %></p>
                            <div class="subscription_video_info">
                                <p class="subscription_video_viwes"><%= video.views %>  views</p>
                                <p class="subscription_video_age" ><%= video.uploadDate %></p>
                            </div>
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>
                    <% } %>
                    
                </div>
                
            </div>
            
            <div class="history watch_later">
                <div class="history_menu">
                    <img src="/img/time.png" alt="" class="history_icon">
                    <p class="history_text">watch later</p>
                    <p class="vid_number">217</p>
                    <p class="see">see all</p>
                </div>
                <div class="history_videos">
                <% for (let video of WatchLaterVideos) { %>
                    <div class="subscription_video">
                        <img src="<%= video.thumbnail %>" alt="" class="subscription_video_thumbnail">
                        <div class="subscription_video_duration"><%= video.duration %></div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title"><%= video.title %></div>
                            <p class="subscription_video_channel"><%= video.channelTitle %></p>
                            <div class="subscription_video_info">
                                <p class="subscription_video_viwes"><%= video.views %> views</p>
                                <p class="subscription_video_age" ><%= video.uploadDate %></p>
                            </div>
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>
                    <% } %>

                    

                </div>
                
            </div>

            <div class="history playlist">
                <div class="history_menu">
                    <img src="/img/time.png" alt="" class="history_icon">
                    <p class="history_text">playlists</p>
                    <p class="vid_number added">recently added <img src="/img/angle-arrow-down.png" alt="" class="playlist_icon"></p>
                    <!-- <p class="see">see all</p> -->
                </div>
                <div class="history_videos">
                    <div class="subscription_video">
                        <img src="/img/kiKoprGLT.jpg" alt="" class="subscription_video_thumbnail">
                        <!-- <div class="subscription_video_duration">10:23</div> -->
                        <div class="play">
                            <p>23</p>
                            <img src="/img/reorder-option.png" alt="" class="history_icon" >
                        </div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title">Lorem ipsum </div>
                            <p class="subscription_video_channel">bensoul</p>
                            <p class="last_updated">updated 2 days ago</p>
                            <div class="privacy">
                                <img src="/img/eye-with-a-diagonal-line-interface-symbol-for-invisibility.png" alt="" class="privacy_icon">
                                <p>private</p>
                            </div>
                            <button class="view_playlist">view full playlist</button>
                            <!-- <div class="subscription_video_info">
                                <p class="subscription_video_viwes">422k views</p>
                                <p class="subscription_video_age" >1 day ago</p>
                            </div> -->
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>

                    <div class="subscription_video">
                        <img src="/img/kiKoprGLT.jpg" alt="" class="subscription_video_thumbnail">
                        <div class="subscription_video_duration">10:23</div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title">Lorem, ipsum dolor sit amet consectetur ...</div>
                            <p class="subscription_video_channel">bensoul</p>
                            <div class="subscription_video_info">
                                <p class="subscription_video_viwes">422k views</p>
                                <p class="subscription_video_age" >1 day ago</p>
                            </div>
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>

                    <div class="subscription_video">
                        <img src="/img/kiKoprGLT.jpg" alt="" class="subscription_video_thumbnail">
                        <div class="subscription_video_duration">10:23</div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title">Lorem, ipsum dolor sit amet consectetur ...</div>
                            <p class="subscription_video_channel">bensoul</p>
                            <div class="subscription_video_info">
                                <p class="subscription_video_viwes">422k views</p>
                                <p class="subscription_video_age" >1 day ago</p>
                            </div>
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>

                </div>
                <button class="plalist_show">show more</button>
            </div>

            <div class="history watch_later">
                <div class="history_menu">
                    <img src="/img/thumbs-up-hand-symbol.png" alt="" class="history_icon">
                    <p class="history_text">liked videos</p>
                    <p class="vid_number">217</p>
                    <p class="see">see all</p>
                </div>
                <div class="history_videos">
                    <% for (let video of LikedVideos) { %>
                    <div class="subscription_video">
                        <img src="<%= video.thumbnail %>" alt="" class="subscription_video_thumbnail">
                        <div class="subscription_video_duration"><%= video.duration %></div>
                        <div class="subscription_video_text">
                            <div class="subscription_video_title"><%= video.title %></div>
                            <p class="subscription_video_channel"><%= video.channelTitle %></p>
                            <div class="subscription_video_info">
                                <p class="subscription_video_viwes"><%= video.views %>  views</p>
                                <p class="subscription_video_age" ><%= video.uploadDate %></p>
                            </div>
                            <!-- <div class="subscription_video_descriptipn">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                            </div> -->
                            <!-- <div class="subscription_reminder_button">
                                <button>set reminder</button>
                            </div> -->
                        </div>
                    </div>
                    <% } %>
                    
                </div>
                
            </div>
        </div>

        <div class="channel_content">
            <div class="channel_info">
                <img src="/img/background-618226__340.webp" alt="" class="library_thumbnail">
                <p class="library_channel_name">bensoul</p>
            </div>
            <div class="channel_statistics">
                <div class="channel_statistics_info">
                    <div class="channel_statistics_subscription">
                        <p>Subscription</p>
                        <p class="num">452</p>
                    </div>
                    <div class="channel_statistics_uploads">
                        <p>uploads</p>
                        <p class="num">0</p>
                    </div>
                    <div class="channel_statistics_likes">
                        <p>likes</p>
                        <p class="num">727</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
</body>
</html>