<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriptions</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/subscription.css">

</head>
<body>
        <!-- start side menu -->

        <%- include('./includes/sidemenu.ejs') %>

        <!-- end side menu -->

        <!-- start side nav -->

        <%- include('./includes/sidenav.ejs') %>

        <!-- end side nav -->
        
        <!-- start modal -->
        <%- include('./includes/modal.ejs') %>
            
        <!-- end modal -->

        <!-- start navbar -->
        <%- include('./includes/navbar.ejs') %>


        <!-- end navbar -->

        <!-- start setting pop_up -->
        <%- include('./includes/settingpopup.ejs') %>


        <!-- end setting pop_up -->

        



        <div class="subscription_main_container">

            <div class="subscription_manager">
                <p class="subscription_today">today</p>
                <div class="subscription_icons">
                    <p>manage</p>
                    <img src="img/nine-black-tiles.png" alt="" class="subscription_icon">
                    <img src="img/nine-black-tiles.png" alt="" class="subscription_icon">
                </div>

            </div>
            <!-- <div class="subscription_channel">
                <img src="/img/background-618226__340.webp" alt="" class="subscription_channel_thumbnail">
                <p class="subscription_channel_title">Global Mountain Bike Network</p>
            </div> -->

            <div class="subscription_content">
                <% for (let video of SubscribedVideos) { %>
                <div class="subscription_video">
                    <img src="<%= video.Thumbnail %>" alt="" class="subscription_video_thumbnail">
                    <div class="subscription_video_duration"><%= video.videoDuration %></div>
                    <div class="subscription_video_text">
                        <div class="subscription_video_title"><%= video.videoTitle %></div>
                        <p class="subscription_video_channel"><%= video.channelTitle %></p>
                        <div class="subscription_video_info">
                            <p class="subscription_video_viwes"><%= video.views %> views</p>
                            <p class="subscription_video_age" ><%= video.uploadTime %></p>
                        </div>
                        <!-- <div class="subscription_video_descriptipn">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente explicabo blanditiis, officiis atque quibusdam non, numquam dicta archit</p>
                        </div> -->
                        <div class="subscription_reminder_button">
                            <button>set reminder</button>
                        </div>
                    </div>
                </div>
                <% } %>
  
            </div>
            

        </div>



        <script src="/js/main.js" async defer></script>

</body>
</html>