<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>trending</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/trending.css">
    </head>
    <body>

        <!-- start side menu -->

        <%- include('./includes/sidemenu.ejs') %>

        <!-- end side menu -->

        <!-- start side nav -->

        <%- include('./includes/sidenav.ejs') %>

        <!-- end side nav -->
        
        <!-- start modal -->
        <%- include('./includes/modal.ejs') %>
            
        <!-- end modal -->

        <!-- start navbar -->
        <%- include('./includes/navbar.ejs') %>


        <!-- end navbar -->

        <!-- start setting pop_up -->
        <%- include('./includes/settingpopup.ejs') %>


        <!-- end setting pop_up -->

        

        <!-- start trending main container -->

        <div id="trending_main_container">

            <div id="trending_large_icons">
                <div id="music">
                    <img src="/img/earth-globe.png" alt="">
                    <h4>music</h4>
                </div>
                <div id="music">
                    <img src="/img/earth-globe.png" alt="">
                    <h4>gaming</h4>
                </div>
                <div id="music">
                    <img src="/img/earth-globe.png" alt="">
                    <h4>news</h4>
                </div>
                <div id="music">
                    <img src="/img/earth-globe.png" alt="">
                    <h4>movies</h4>
                </div>
            </div>
            <% for (let video of TrendingVideos) { %>
            <div id="trending_border_btm"></div>
            <div class="trending_video">
                <img src="<%= video.Thumbnail %>" alt="" class="trending_video_thumbnail">
                <div class="trending_video_duration"><%= video.videoDuration %></div>
                <div class="trending_video_text">
                    <div class="trending_video_title"><%= video.videoTitle %></div>
                    <div class="trending_video_info">
                        <p class="trending_video_channel"><%= video.channelTitle %></p>
                        <p class="trending_video_viwes"><%= video.views %> views</p>
                        <p class="trending_video_age" ><%= video.uploadTime %></p>
                    </div>
                    <div class="trending_video_descriptipn">
                        <p><%= video.description %></p>
                    </div>
                </div>
            </div>
            <% } %>
                               
        </div>
        
        <!-- end trending main container -->
        
        <script src="/js/main.js"  defer></script>
    </body>
</html>