<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>watch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/watch.css">
    </head>
    <body>
       
        <!-- start side menu -->

      <%- include('./includes/sidemenu.ejs') %>

      <!-- end side menu -->

        <!-- start side nav -->

      <%- include('./includes/sidenav.ejs') %>

      <!-- end side nav -->

        <!-- start notification pop up -->

        <%- include('./includes/notificationpopup.ejs') %>

        <!-- end notification pop_up -->

        <!-- start serch pop up -->

        <%- include('./includes/searchpopup.ejs') %>


        <!-- end serch pop up -->

         <!-- start playlist popup -->
        <%- include('./includes/playlistpopup.ejs') %>
         
        <!-- end playlist popup -->

        <!-- start modal -->
      <%- include('./includes/modal.ejs') %>
          
      <!-- end modal -->

        <!-- start navbar -->
      <%- include('./includes/navbar.ejs') %>


      <!-- end navbar -->

       <!-- start setting pop_up -->
       <%- include('./includes/settingpopup.ejs') %>


       <!-- end setting pop_up -->


        <!-- start watch main container -->
        <div id="watch_main_container">
            <div id="watch_left">
                <video src="/video/<%=video%>" controls id="video" class="screen" poster="../img/poster.png" autoplay type="video/mp4"></video>
                <div id="watch_video_title">Lorem ipsum dolor sit amet consectetu</div>
                <div class="watch_video_info1">
                    <div class="watch_video_info_data">
                        <p class="views" id="views">512,905 views</p>
                        <div class="dot">.</div>
                        <p class="upload_date">sep 8, 2019</p>
                    </div>
                    <div></div>
                    <div class="watch_video_icons">
                        <div class="likes">
                            <img src="/img/thumbs-up-hand-symbol.png" alt="" class="icons">
                            <p>10k</p>
                        </div>
                        <div class="dislike">
                            <img src="/img/thumbs-down-silhouette.png" alt="" class="icons">
                            <p>592</p>
                        </div>
                        <div class="share">
                            <img src="/img/reply.png" alt="" class="icons">
                            <p>share</p>
                        </div>
                        <div class="save">
                           <button id="save"> <img src="/img/reorder-option.png" alt="" class="icons" ></button>
                            <p >save</p>
                           
                        </div>
                        <div class="dots">
                            <img src="/img/three-small-square-shapes.png" alt="" class="icons">
                        </div>
                    </div>    
                </div>
                <div class="channel_info">
                    <img src="/img/art-2472892__340.webp" alt="" class="channel_thumbnail">
                    <div class="channel_data">
                        <form action="/channel" method="get">
                            <button class="channel_title" type="submit">CasanovaGames</button>
                        </form>
                        <p class="channel_subscribers">489k subscribers </p>
                    </div>
                    <button class="subscribe_btn">subscribe</button>
                </div>
                <div class="description">
                    <button class="show_more">show more</button>
                </div>
                <div class="comment_header">
                    <div class="comment_number">407 comments</div>
                    <div class="sort_by">
                        <img src="/img/align-to-right.png" alt="" class="icons">
                        <p>sort by</p>
                    </div>
                </div>
                <div class="add_comment">
                    <img src="/img/background-618226__340.webp" alt="">
                    <form action="" class="add_comment_form">
                        <input type="text" placeholder="Add a public comment...">
                        <button class="add_comment_btn">comment</button>
                    </form>
                </div>
                <div class="comments">
                    <div class="comment">
                        <img src="/img/background-618226__340.webp" alt="" class="comment_thumbnail">
                        <div class="comment_data">
                            <p class="comment_user">mac Bumblebee <span class="comment_date">1 year ago</span></span></p>
                            <p class="comment_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet nesciunt. Eos quis sed impedit, sapiente nam voluptatum architecto sunt! Quasi dolore deserunt ad aspernatur non ducimus, aut asperiores optio.</p>
                            <div class="comment_interact">
                                <div class="comment_likes">
                                    <img src="/img/thumbs-up-hand-symbol.png" alt="" class="icons">
                                    <p>10</p>
                                </div>
                                <div class="comment_dislike">
                                    <img src="/img/thumbs-down-silhouette.png" alt="" class="icons">
                                    <!-- <p>592</p> -->
                                </div>
                                <button >REPLY</button>
                            </div>
                            <form action="" class="reply_form">
                                <input type="text" class="reply_input">
                                <input type="submit" value="Reply" class="reply_submit">
                            </form>
                            <button class="replies_btn" id="replies_btn"> <img src="/img/angle-arrow-down.png" alt="" class="comment_icon"> View 2 Reply</button>
                            <div class="replies" id="replies">
                                <div class="comment">
                                    <img src="/img/background-618226__340.webp" alt="" class="comment_thumbnail">
                                    <div class="comment_data">
                                        <p class="comment_user">maccc Bumblebee <span class="comment_date">1 year ago</span></span></p>
                                        <p class="comment_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet nesciunt. Eos quis sed impedit, sapiente nam voluptatum architecto sunt! Quasi dolore deserunt ad aspernatur non ducimus, aut asperiores optio.</p>
                                        <div class="comment_interact">
                                            <div class="comment_likes">
                                                <img src="/img/thumbs-up-hand-symbol.png" alt="" class="icons">
                                                <p>10</p>
                                            </div>
                                            <div class="comment_dislike">
                                                <img src="/img/thumbs-down-silhouette.png" alt="" class="icons">
                                                <!-- <p>592</p> -->
                                            </div>
                                            <button class="comment_reply" >REPLY</button>
                                            
                                        </div>
                                        <form action="" class="reply_form">
                                            <input type="text" class="reply_input">
                                            <input type="submit" value="Reply" class="reply_submit">
                                        </form>
                                        <!-- <button class="replies_btn"> <img src="/img/angle-arrow-down.png" alt="" class="comment_icon"> View Reply</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="/img/background-618226__340.webp" alt="" class="comment_thumbnail">
                        <div class="comment_data">
                            <p class="comment_user">mac Bumblebee <span class="comment_date">1 year ago</span></span></p>
                            <p class="comment_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet nesciunt. Eos quis sed impedit, sapiente nam voluptatum architecto sunt! Quasi dolore deserunt ad aspernatur non ducimus, aut asperiores optio.</p>
                            <div class="comment_interact">
                                <div class="comment_likes">
                                    <img src="/img/thumbs-up-hand-symbol.png" alt="" class="icons">
                                    <p>10</p>
                                </div>
                                <div class="comment_dislike">
                                    <img src="/img/thumbs-down-silhouette.png" alt="" class="icons">
                                    <!-- <p>592</p> -->
                                </div>
                                <button >REPLY</button>
                            </div>
                            <button class="replies_btn"> <img src="/img/angle-arrow-down.png" alt="" class="comment_icon"> View Reply</button>
                            <div class="replies" id="replies">
                                <div class="comment">
                                    <img src="/img/background-618226__340.webp" alt="" class="comment_thumbnail">
                                    <div class="comment_data">
                                        <p class="comment_user">maccc Bumblebee <span class="comment_date">1 year ago</span></span></p>
                                        <p class="comment_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet nesciunt. Eos quis sed impedit, sapiente nam voluptatum architecto sunt! Quasi dolore deserunt ad aspernatur non ducimus, aut asperiores optio.</p>
                                        <div class="comment_interact">
                                            <div class="comment_likes">
                                                <img src="/img/thumbs-up-hand-symbol.png" alt="" class="icons">
                                                <p>10</p>
                                            </div>
                                            <div class="comment_dislike">
                                                <img src="/img/thumbs-down-silhouette.png" alt="" class="icons">
                                                <!-- <p>592</p> -->
                                            </div>
                                            <button class="comment_reply" >REPLY</button>
                                        </div>
                                        <!-- <button class="replies_btn"> <img src="/img/angle-arrow-down.png" alt="" class="comment_icon"> View Reply</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="watch_right">
                <div class="watch_video">
                    <img src="/img/kiKoprGLT.jpg" alt="" class="watch_video_thumbnail">
                    <div class="watch_video_duration">10:23</div>
                    <div class="watch_video_text">
                        <div class="watch_video_title">Lorem, ipsum dolor sit amet consectetur</div>
                        <p class="watch_video_channel">bensoul</p>
                        <div class="watch_video_info">
                            <p class="watch_video_viwes">422k views</p>
                            <p class="watch_video_age" >1 day ago</p>
                        </div>
                
                    </div>
                </div>
                <div id="watch_corousel_container">
                    <div id="watch_corousel">
                        <p class="watch_first_tag" style="background-color: rgb(105, 105, 105);">djjdk</p>
                        <p>djjdk</p>
                        <p>djjdkfsssssgh</p>
                        <p>djjdk</p>
                        <p>djjduuilkhjjk</p>
                        <p>djjdk</p>
                        <p>djjdk</p>
                        <p>djjdk</p>
                        <p>djjdk</p>
                    </div>
                    <div id="watch_corousel_arrow_containner">
                        <img src="/img/angle-arrow-pointing-to-right.png" alt="" id="watch_corousel_arrow">
                    </div>
                </div>
                <div class="watch_video">
                    <img src="/img/kiKoprGLT.jpg" alt="" class="watch_video_thumbnail">
                    <div class="watch_video_duration">10:23</div>
                    <div class="watch_video_text">
                        <div class="watch_video_title">Lorem, ipsum dolor sit amet consectetur</div>
                        <p class="watch_video_channel">bensoul</p>
                        <div class="watch_video_info">
                            <p class="watch_video_viwes">422k views</p>
                            <p class="watch_video_age" >1 day ago</p>
                        </div>
                
                    </div>
                </div>
                <div class="watch_video">
                    <img src="/img/kiKoprGLT.jpg" alt="" class="watch_video_thumbnail">
                    <div class="watch_video_duration">10:23</div>
                    <div class="watch_video_text">
                        <div class="watch_video_title">Lorem, ipsum dolor sit amet consectetur</div>
                        <p class="watch_video_channel">bensoul</p>
                        <div class="watch_video_info">
                            <p class="watch_video_viwes">422k views</p>
                            <p class="watch_video_age" >1 day ago</p>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
         <!-- end watch main container -->
        
        <script src="/js/main.js" defer></script>
        <script src="/js/watch.js" defer></script>
    </body>
</html>